body {
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

div {
  border-radius: 12px;
  position: relative;
}

.top {
  height: 400px;
  margin: 0 auto;
}

.about {
  height: 370px;
  margin: 10px;
  width: 400px;
  float: left;
  background: url('http://i.imgur.com/KMujZmb.jpg');
  background-size: cover;
}

.top-right-img {
  background-image: url(http://i.imgur.com/q8GzXMS.jpg);
  background-size: cover;
  height: 370px;
  margin: 10px;
  width: 400px;
  float: right;
}

.middle {
  height: 200px;
  width: 180px;
  margin: 0 auto;
}

.head {
  position: relative;
  top: 15px;
}

.bottom {
  width: 900px;
  margin: 0 auto;
}

.bottom-left-img {
  background-image: url(http://i.imgur.com/cfcMWI7.jpg);
  background-size: cover;
  height: 400px;
  width: 400px;
  margin: 10px;
  float: left;
}

.carousel {
  height: 500px;
  width: 400px;
  float: right;
}

.show-description p {
  height: 150px;
}

.show-description small {
  opacity: 1;
}

p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 27px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

header {
  color: rgba(255,255,255,1);
  background: black;
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  height: 350px;
  border-radius: 12px;
}

li {
  list-style: square;
}
